/* Wiki Article */

.wiki-article
  background: #fff
  max-width: 1000px
  min-height: 80px
  padding: 30px
  margin: 20px auto
  box-shadow: -1px 1px 5px #666
  border-radius: 10px
  border: 3px solid #fff
  transition: all .1s ease-in-out


  h2
    margin-bottom: 18px
    color: #333
    font-size: 22px
    font-weight: 700
    letter-spacing: -0.5px

  p
    margin-left: 20px
    font-weight: 300
    font-size: 19px

  &:hover
    cursor: pointer
    border: 3px solid #4DD0E1
    box-shadow: 0 5px 5px #444
    max-width: 1010px
