/* Wiki Article */

.wiki-article
  background: #fff
  max-width: 705px
  min-height: 80px
  padding: 30px
  margin: 20px auto
  box-shadow: -1px 1px 5px #666
  border-radius: 10px
  border: 2px solid #fff
  transition: all .2s ease-in-out


  h2
    margin-bottom: 18px
    color: #777
    font-size: 22px
    font-weight: 700
    letter-spacing: -0.5px
    transition: all .2s ease-in-out
    position: relative
    top: 5px

  p
    margin-left: 20px
    font-weight: 100
    font-size: 19px
    color: #888
    transition: all .2s ease-in-out

  &:hover
    cursor: pointer
    border: 2px solid $turquoise
    box-shadow: 0 5px 5px #444
    border-left: 10px solid $turquoise
    padding-left: 18px

  &:hover h2
    top: 0
    color: #222


  &:hover p
    color: #222
