/* PLUGINS */
/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* BASE */
body {
  background: #3F51B5;
  font-family: Helvetica, Arial, sans-serif; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

li a {
  text-decoration: none;
  color: #666; }

/* LAYOUT */
/* Search Container */
.search-container {
  height: 100px;
  width: 300px; }
  .search-container .random {
    margin-top: 10px;
    text-align: center;
    font-size: 21px; }
    .search-container .random .random-link {
      color: #FFF;
      text-decoration: none; }
      .search-container .random .random-link:hover {
        color: #4DD0E1; }

/* Search Container positioning */
.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

/* Results Container */
.results-container {
  margin: 200px auto 0; }

/* MODULES */
/* Search Field */
fieldset {
  position: relative;
  display: inline-block;
  padding: 0 0 0 40px;
  background: #fff;
  border: none;
  border-radius: 5px; }

input,
button {
  position: relative;
  width: 200px;
  height: 50px;
  padding: 0;
  display: inline-block;
  float: left; }

input {
  color: #666;
  font-size: 24px;
  z-index: 2;
  border: 0 none; }
  input:focus {
    outline: 0 none; }
  input:focus + button {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    transition-duration: 0.3s; }
  input:focus + button .fa {
    -webkit-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    transform: translate(0px, 0);
    transition-duration: 0.3s;
    color: #fff; }

button {
  z-index: 1;
  width: 50px;
  border: 0 none;
  background: #CCC;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  -webkit-transform: translate(-50px, 0);
  -ms-transform: translate(-50px, 0);
  transform: translate(-50px, 0);
  transition-duration: 0.3s; }

.fa-search {
  font-size: 1.4rem;
  color: #29abe2;
  z-index: 3;
  top: 25%;
  -webkit-transform: translate(-190px, 0);
  -ms-transform: translate(-190px, 0);
  transform: translate(-190px, 0);
  transition-duration: 0.3s;
  transition: all 0.1s ease-in-out; }

/* Wiki Article */
.wiki-article {
  background: #fff;
  max-width: 705px;
  min-height: 80px;
  padding: 30px;
  margin: 20px auto;
  box-shadow: -1px 1px 5px #666;
  border-radius: 10px;
  border: 2px solid #fff;
  transition: all 0.2s ease-in-out; }
  .wiki-article h2 {
    margin-bottom: 18px;
    color: #777;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.5px;
    transition: all 0.2s ease-in-out;
    position: relative;
    top: 5px; }
  .wiki-article p {
    margin-left: 20px;
    font-weight: 100;
    font-size: 19px;
    color: #888;
    transition: all 0.2s ease-in-out; }
  .wiki-article:hover {
    cursor: pointer;
    border: 2px solid #4DD0E1;
    box-shadow: 0 5px 5px #444;
    border-left: 15px solid #4dd0e1;
    padding-left: 18px; }
  .wiki-article:hover h2 {
    top: 0;
    color: #222; }
  .wiki-article:hover p {
    color: #222; }


