/* Search Container */

.search-container
  height: 300px
  max-width: 290px
  
  fieldset
    display: block
    margin: 0 auto

  .random
    clear: both
    margin-top: 20px
    text-align: center
    font-size: 21px

    .random-link
      color: #FFF
      text-decoration: none

      &:hover
        color: #4DD0E1


/* Search Container positioning */

.center
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  margin: auto


/* Logo and text

.logo,
.logo-text
  text-align: center
  color: #FFF

.logo
  font-size: 80px
  letter-spacing: -5px
  font-weight: bold
  margin-bottom: 10px

.logo-text
  font-size: 22px
  font-weight: 100
  margin-bottom: 20px
